.titlePage {
  margin-bottom: 6rem;
}
.containerCard {
  margin: 0.8rem;
  background: #060c1d;
  padding: 2.625rem;
}

.nameInfo {
  margin-bottom: 1.2rem;
  color: rgba(255, 255, 255, 0.84);
  font-family: Poppins;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}
.titleName {
  margin-bottom: 1.2rem;
 
  font-size: 1.5rem;
 
  font-weight: 700;
  
  background: var(
    --gradient,
    linear-gradient(117deg, #00a3ff 22.4%, #00fff0 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.childernContent {
  color: #fff;
 
  font-size: 0.8rem;
 
  font-weight: 400;
  
}
.contentTime {
  color: rgba(255, 255, 255, 0.5);

 
  font-size: 0.8rem;
 
  font-weight: 400;
  
}
@media screen and (max-width: 1200px) {
  .titlePage {
    margin-bottom: 2rem;
  }
  .childernContent {
    font-size: 0.6rem;
  }
  .nameInfo {
    
    font-size: 0.5rem;
   
  }
}
@media screen and (max-width: 375px) {
  .titlePage {
    margin-bottom: 2rem;
  }
  .childernContent {
    font-size: 1rem;
  }
  .nameInfo {
    
    font-size: 1rem;
   
  }
}
