.btnDark {
  padding: 1.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 1rem;
  border-image: linear-gradient(45deg, #00a3ff, #00fff0) border-box;
  background: var(
    --gradient,
    linear-gradient(117deg, #00a3ff 22.4%, #00fff0 100%)
  );
}

.btn {
  padding: 0.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: #0b8dcd;
  gap: 1.5rem;
  box-shadow:
    0rem 0.4rem 2.4rem 0rem rgba(75, 126, 255, 0.6),
    0.4rem 0rem 2.4rem 0rem rgba(75, 126, 255, 0.24);
  
}
.text{
  font-family: Sora;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}
.textDark{
  text-align: center;
  font-family: Sora;
  font-size: 1.2rem;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 700px) {
  .btnDark {
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
  }
  .btn {
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
  }
}
