.btnDark {
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 1rem;
  border-image: linear-gradient(45deg, #00a3ff, #00fff0) border-box;
  background: var(
    --gradient,
    linear-gradient(117deg, #00a3ff 22.4%, #00fff0 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .btnDark {
    font-size: 1rem;
  }
}
