.container {
  background: #060c1d;
}
.img {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  height: 100%;
}
.childernContent {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  
}
.title {
  font-size: 4.5rem;
 
  font-weight: 700;
  
  background: var(
    --gradient,
    linear-gradient(117deg, #00a3ff 22.4%, #00fff0 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 700px) {
  .childernContent {
    
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1024px) {
  .childernContent {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 376px) {
  .childernContent {
    font-size: 0.8rem;
  }
}
