* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
  max-width: 100vw;
  font-family: Sora;
}

body {
  background: #0f1525;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 40%;
  }
}
