.titlePage {
  margin-bottom: 6rem;
}
.containerCard {
  margin: 0.8rem;
  background: #060c1d;
}
.nameInfo {
  margin-bottom: 1.2rem;
  color: rgba(255, 255, 255, 0.84);
  font-family: Poppins;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}
.titleName {
  margin-bottom: 1.2rem;
  font-family: Sora;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(
    --gradient,
    linear-gradient(117deg, #00a3ff 22.4%, #00fff0 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  height: 100%;
}
.childernContent {
  margin: 0 0.5rem 1.2rem 0.5rem;
  color: #fff;
  font-family: Sora;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 700px) {
  .titlePage {
    margin-bottom: 2rem;
  }
}
